body {
    background-image: url("../images/back_pattern.png");
    margin: 0;
    padding:0;
}

#logo {
    background: teal;
}

h1 {
    color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.main {
    background: #ffffff;
    border: solid 2px #ccc;
    padding: 20px;
    margin-top: 50px;
}

#profile-photo {
    float: left;
    height: 200px;
    width: 200px;
    margin: 0px 20px 0px 0px;
}

.footer {
    height: 50px;
    width: 100%;
    background: #666666;
    position: fixed;
    bottom: 0;
    margin-top: 50px;
    border-top: solid 8px #4aaaa5;
}

.footer-text {
    color: #cccccc;
    font-size: 12px;
    margin-top: 30px;
    text-align: center;
}